# ignore any env file
.env
*/.env
*/.env.*
# pycache
__pycache__
data
garage
# test logs
client/tests/logs/*.log
client/tests/e2e/logs/*.log
client/tests/e2e/logs/single_device_test_run_*
# downloaded chunks from tests
/tmp/downloaded_chunks_*